* {
  font-family: sans-serif;
}
.container{
  background-color: #660099;
  color: #fff;
  height:10%;
  font-style: bold;
  padding-left: 20%;
  padding-top: 1%;
  font-size: 20px;
}
.card-row{
  
}
.card{
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  margin-right: 25%;
  box-shadow: 2px 2px 4px grey;
}
.button{
  
}