* {
  font-family: sans-serif;
}
.container{
  font-style: bold;
  padding: 10px;
  font-size: 20px;
  padding-top:5px
}
.card-row{
  
}
.card{
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  margin-right: 20%;
  box-shadow: 2px 2px 4px grey;
  
}
.button{
  font-style: bold;
  background-color: rebeccapurple;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  cursor:pointer
}
.image{
  width:100%
  
}
a:link {
  text-decoration: none;
